[Unit]
Description=Bootstrap a Kubernetes Node

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/bootstrap-kubernetes
ExecStart=/usr/local/bin/bootstrap-kubernetes