---
name: yamllint
on:
  pull_request:
    types: [ opened, edited, synchronize, reopened ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install yamllint
      run: sudo apt-get update && sudo apt-get install -y yamllint

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: yaml-lint
      run: yamllint -c .yamllint.yaml .
