---
name: yamllint
on:
  pull_request:
    types: [ opened, edited, synchronize, reopened ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install yamllint
      run: sudo apt-get update && sudo apt-get install -y yamllint

    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

    - name: yaml-lint
      uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3.1.1
      with:
        config_file: .yamllint.yaml
